#
# Copyright (C) 2021-2022 by 01-Meyitzade-01@Github, < https://github.com/01-Meyitzade-01 >.
#
# This file is part of < https://github.com/01-Meyitzade-01/meyitbot > project,
# and is released under the "GNU v3.0 License Agreement".
# Please see < https://github.com/01-Meyitzade-01/meyitbot/blob/master/LICENSE >
#
# All rights reserved

import re
import sys
from os import getenv

from dotenv import load_dotenv
from pyrogram import filters

load_dotenv()
# Get it from my.telegram.org
API_ID = int(getenv("API_ID", "11044555"))
API_HASH = getenv("API_HASH", "f43cdf13b9fec8e3da3c3a50397bad68")

## Get it from @Botfather in Telegram.
BOT_TOKEN = getenv("5104889810:AAGbWzgzD9pPt7XqjHhAJbwahA99ASX6a4I")

# Get it owner id name.
OWNER = list("2028948832")
    map(int, getenv("OWNER", "").split())

# Get it support channel.
SUPPORT_CHANNEL = getenv("hiraset")
    "SUPPORT_CHANNEL"
